---
apiVersion: batch/v1
kind: Job
metadata:
  name: data-import-job
  labels:
    app: data-import
spec:
  backoffLimit: 2
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app: data-import
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              until nc -z postgres-service 5432; do
                echo "Waiting for PostgreSQL..."
                sleep 2
              done
              echo "PostgreSQL is ready"
      containers:
        - name: data-import
          image: equipements-api:latest
          imagePullPolicy: Never
          command: ["node", "src/scripts/import-data.js"]
          env:
            - name: DB_HOST
              value: "postgres-service"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "equipements"
            - name: DB_USER
              value: "postgres"
            - name: DB_PASSWORD
              value: "devops2026"
            - name: IMPORT_LIMIT
              value: "1000"
