name: cd-kubernetes

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["docker-publish"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.30.0

      - name: Configure kubeconfig
        run: |
          mkdir -p "$HOME/.kube"
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > "$HOME/.kube/config"

      - name: Deploy manifests
        run: |
          kubectl apply -f kubernetes/postgres.yaml
          kubectl apply -f kubernetes/deployment.yaml
          kubectl apply -f kubernetes/frontend.yaml
          kubectl apply -f kubernetes/data-import-job.yaml

      - name: Update images from Docker Hub
        run: |
          kubectl set image deployment/backend backend=${{ secrets.DOCKERHUB_USERNAME }}/equipements-api:latest
          kubectl set image deployment/frontend frontend=${{ secrets.DOCKERHUB_USERNAME }}/equipements-frontend:latest

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/postgres --timeout=180s
          kubectl rollout status deployment/backend --timeout=180s
          kubectl rollout status deployment/frontend --timeout=180s
          kubectl get pods
          kubectl get services
